@use "variables" as *;
.hero {
  background-color: white;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include mq("tablet") {
    margin-bottom: 100px;
  }

  &__overlay {
    background: url(../images/hero-overlay.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 120%;
    z-index: 0;
    background-position: top;
    @include mq("tablet") {
      background-size: cover;
      background-position: bottom;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 1024px;
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 126px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 70px;

    @include mq("tablet") {
      padding-top: 166px;
      gap: 50px;
      padding-left: 0;
      padding-right: 0;
      justify-content: space-between;
    }
  }
  &__column_left {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mq("tablet") {
      align-items: start;
      padding-top: 70px;
    }
  }
  &__title {
    font-family: $font-secondary;
    font-size: 31px;
    font-weight: 700;
    max-width: 400px;
    @include mq("tablet") {
      font-size: 45px;
    }
  }
  &__text {
    line-height: 1.875;
    letter-spacing: 0.19px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  &__image {
    display: none;
    position: relative;
    z-index: 1;
    margin-bottom: -150px;

    @include mq("tablet") {
      display: block;
    }
  }
  &__bottom_button {
    margin-top: 40px;
    @include mq("tablet") {
      display: none;
    }
  }
}
