@use "variables" as *;
.hero {
  height: 100vh;
  background-color: white;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__overlay {
    background: url(../images/hero-overlay.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    background-position: bottom;
  }
  &__content {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 1024px;
    display: flex;
    align-items: center;
  }
  &__column_left {
    max-width: 450px;
  }
  &__image {
    position: relative;
    z-index: 1;
  }
}
