@use "variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  padding: 16px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: padding 0.3s ease;
  @include mq("tablet") {
    padding: 24px 36px;

    &--scrolled {
      padding: 10px 36px;
    }
  }

  &--desktop {
    display: none;
    @include mq("tablet") {
      display: flex;
      align-items: center;
    }
  }

  &--mobile {
    display: flex;
    @include mq("tablet") {
      display: none;
    }
  }

  &__logo {
    width: 175px;
    display: block;
    @include mq("tablet") {
      width: 253px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding: 0 40px;

    @include mq("tablet") {
      flex-direction: row;
    }
  }

  &__item {
    padding: 28px 0;
    display: block;
    border-bottom: solid 1px $color-white;
    width: 100%;
    @include mq("tablet") {
      padding: 0 20px;
      border-bottom: none;
      width: auto;
    }
  }
  &__link {
    font-size: 22px;
    font-weight: 600;
    color: $color-white;
    text-decoration: none;
    transition: color 0.2s ease;
    @include mq("tablet") {
      color: $color-dark-blue;
      font-size: 16px;
      font-weight: 700;

      &:hover,
      &--active {
        color: $color-primary-blue;
      }
    }
  }
  &__menu_toggle {
    background-color: transparent;
    border: none;
  }

  &__mobile_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background: $gradient-primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }
  &__mobile_menu_close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
