@use "variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 24px 36px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  &--desktop {
    display: none;
    @include mq("tablet") {
      display: flex;
      align-items: center;
    }
  }

  &--mobile {
    display: flex;
    @include mq("tablet") {
      display: none;
    }
  }

  &__logo {
    width: 175px;
    @include mq("tablet") {
      width: 253px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-direction: column;
    padding: 0 40px;

    @include mq("tablet") {
      flex-direction: row;
    }
  }

  &__item {
    padding: 28px 0;
    display: block;
    border-bottom: solid 1px white;
    width: 100%;
    @include mq("tablet") {
      padding: 0 20px;
      border-bottom: none;
      width: auto;
    }
  }
  &__link {
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    @include mq("tablet") {
      color: #223747;
      font-size: 16px;
      font-weight: 700;

      &:hover,
      &--active {
        color: #5193c8;
      }
    }
  }
  &__menu_toggle {
    background-color: transparent;
    border: none;
  }

  &__mobile_menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background: linear-gradient(#5193cb, #73b0e0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    &--open {
      display: flex;
    }
  }
  &__mobile_menu_close {
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
